body {
  background-color: #b8b5b5;
  color: #000000;
}

body[data-bs-theme="light"] {
  background-color: #fff;
  color: #000;
}

body[data-bs-theme="dark"] {
  background-color: #000;
  color: #fff;
}

.navbar-brand img {
  max-height: 40px;
  margin-right: 10px;
}

.list-group-container {
  margin-top: 20px;
}

.carousel-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.carousel-item .btn {
  margin-top: 10px;
}

.form-control {
  border-color: #ced4da;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.col-md-2 {
  padding: 10px;
  text-align: center;
  background-color: #f8f9fa;
}

body[data-bs-theme="dark"] .col-md-2 {
  background-color: #000;
  color: #fff;
}

body[data-bs-theme="light"] .col-md-2 {
  background-color: #fff;
  color: #000;
}

.mission-statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.mission-statement h2 {
  margin-bottom: 15px;
}

.mission-statement p {
  font-size: large;
}

.carousel-container {
  margin-top: 10px;
}

.carousel-inner img {
  height: 400px;
  object-fit: cover;
}

#footer {
  text-align: right;
  margin-right: 50px;
}
